# TODO maybe include results at the end

# Python bytecode
__pycache__/
*.pyc
*.pyo

# Virtual Environments
venv/
env/
.venv/

# Large dataset caches & saved checkpoints
data/raw/
data/sydney/
data/o1/
data/processed/
saved_models/
*.npy
*.mat
*.pkl

# IDE settings
.vscode/
.idea/

Gemini.md
TODO.md

# results
outputs/